@font-face {
  font-family: "CstBerlinWest";
  src: url("CSS/fonts/CstBerlinWestOT.otf");
}
@font-face {
  font-family: "CstBerlinWestBold";
  src: url("CSS/fonts/CstBerlinWestOT-Bold.otf");
}
@font-face {
  font-family: "Calibri";
  src: url("CSS/fonts/calibri.ttf");
}
@font-face {
  font-family: "CalibriB";
  src: url("CSS/fonts/calibrib.ttf");
}
.header {
  font-family: "CstBerlinWest";
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  min-height: 30px;
  min-width: 330px;
  color: white;
  background-color: #2D8E5B;
}

.ctrd {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  justify-self: stretch;
}
.header_pl {
  min-height: 40px;
  color: white;
  font-size: 1.44444em;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
}

.title_pl {
  color: #2F5687;
  grid-column-start: 1;
  grid-column-end: 2;
}
.bg_lightblue {
  background-color: #2F5687;
} 
.bg_midblue {
  background-color: #1C4072;
}
.bg_darkblue {
  background-color: #203857;
}
.percentage_pl {
  font-family: "Calibri";
  color: #02A747;
  font-size: 1.55555em;
  vertical-align: bottom;
  grid-column-start: 4;
}
.orange {
  color: #DE600D;
}
.red {
  color: #FF0000;
}
.reduced {
  font-size: 0.83333em;
  text-align: center;
}
.sales_rows {
  grid-row-start: 2;
  grid-row-end: 4;
}
.cost_rows {
  grid-row-start: 4;
  grid-row-end: 6;
}
.opex_rows {
  grid-row-start: 6;
  grid-row-end: 8;
}
.item_pl {
  font-family: "Calibri";
  font-size: 0.83333em;
  border-bottom: 1px solid #2F5687;

}
.greyed {
  color: grey;
  border-bottom: none;
}
.container_pl {
  font-family: "CalibriB";
  color: black;
  background-color: white;
  min-width: 330px;
  border: 2px solid black;
  margin: 0.1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1fr;
  grid-auto-rows: minmax(30px, auto);
}

.site {
border: 1px solid #2D8E5B;
}

@media screen and (max-width: 64.56250em) and (min-width: 520px) {
  .header {
    font-size: 3em;
    min-width: 500px;
  }
  .container_pl {
    min-width: 500px;
  }
  .container {
    font-size: 22px;
    margin: 0.5em auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
/*    align-content: center;*/
  }
}
@media screen and (min-width: 64.56250em) {
  .header {
    font-size: 3em;
    min-width: 500px;
  }
  .container {
    font-size: 18px;
/*    min-width: 1010px;*/
    max-width: 1600px;
    margin: 0.5em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(2em, auto);
/*    justify-content: center;
    align-content: center;
    align-self: stretch;
    justify-self: stretch;*/
  }
}



/*


background: #f1e4d5;


*/