@font-face {
  font-family: "CstBerlinWest";
  src: url("CstBerlinWest.otf");
}

.header_pl {
  font-family: "CstBerlinWest";
  text-align: center;
  color: white;
  font-size: 35px;
  background-color: #2F5687;
  align-self: stretch;
  justify-self: stretch;
}
.item-a {
  font-family: "CstBerlinWest";
  font-size: 20px;
  text-align: center;
  color: #2F5687;
  background-color: white;
  grid-column-start: 1; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  align-self: stretch;
  justify-self: stretch;
}
.item-b {
  font-family: "CstBerlinWest";
  font-size: 20px;
  text-align: center;
  color: #02A747;
  background-color: white;
  grid-column-start: 4; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  align-self: stretch;
  justify-self: stretch;
}
.item-c {
  font-family: "CstBerlinWest";
  font-size: 15px;
  text-align: center;
  color: black;
  background: #f1e4d5;
  align-self: stretch;
  justify-self: stretch;
}
.container_pl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
/*  grid-auto-rows: 35px;*/
}


/*

1C4072
203857

.item-a {
  grid-area: header;
  background-color: #1A805B;
  align-self: stretch;
  justify-self: stretch;
}
.item-b {
  grid-area: main;
  background-color: red;
  align-self: stretch;
  justify-self: stretch;
}
.item-c {
  grid-area: sidebar;
  background: #f1e4d5;
  align-self: stretch;
  justify-self: stretch;
}
.item-d {
  grid-area: footer;
  background-color: blue;
  align-self: stretch;
  justify-self: stretch;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
  align-items: center;
  justify-items: center;
}
*/