
/* General and Header */

@font-face {
  font-family: "CstBerlinWest";
  src: url("CSS/fonts/CstBerlinWestOT.otf");
}
@font-face {
  font-family: "CstBerlinWestBold";
  src: url("CSS/fonts/CstBerlinWestOT-Bold.otf");
}
@font-face {
  font-family: "Calibri";
  src: url("CSS/fonts/calibri.ttf");
}
@font-face {
  font-family: "CalibriB";
  src: url("CSS/fonts/calibrib.ttf");
}

body {
  min-width: 520px;
  max-width: 1600px;
  font-family: "CalibriB";
  font-size: 16px;
  color: black;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #2D8E5B;
  padding: 10px;
}
.header {
  min-height: 30px;
  min-width: 500px;
  font-family: "CstBerlinWest";
  font-size: 3em;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #2D8E5B;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* P&L sections */

.container {
  margin: 1em auto;
}
.container-pl {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1fr;
  grid-auto-rows: minmax(30px, auto);
  min-width: 500px;
  background-color: white;
  border: 2px solid black;
  margin: 0.2em;
}
.container-pl:hover {
  background-color: #F1F1F1;
}
.header-pl {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  font-size: 1.6em;
  color: white;
}
.title-pl {
  font-size: 1.5em;
  color: #2F5687;
}
.item-pl {
  font-size: 0.9em;
  border-bottom: 1px solid #2F5687;
}
.percentage-pl {
  grid-column-start: 4;
  font-size: 1.6em;
  color: #02A747;
  vertical-align: bottom;
}
.sales-rows {
  grid-row-start: 2;
  grid-row-end: 4;
}
.cost-rows {
  grid-row-start: 4;
  grid-row-end: 6;
}
.opex-rows {
  grid-row-start: 6;
  grid-row-end: 8;
}
/* P&L sections colors */
.bg-lightblue { background-color: #2F5687;} 
.bg-midblue   { background-color: #1C4072;}
.bg-darkblue  { background-color: #203857;}
.orange       { color: #DE600D;}
.red          { color: #FF0000;}
.greyed       { color: #757575; border-bottom: none;}
.reduced      { font-size: 1.1em; text-align: center; }


/* OPEX sections */

.title-opex {
  color: white;
  background-color: var(--deptColor);
}

.costcenter-opex {
  font-family: "Calibri";
  font-size: 0.8em;
  color: var(--deptColor);
}
.amount-opex {
  font-size: 1.1em;
  color: var(--deptColor);
}
.percentage-opex {
  font-family: "Calibri";
  color: var(--deptColor);
}
.dept-opex-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}
.dept-opex-container:hover {
  background-color: #F1F1F1;
}
.container-opex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, 1.5em);
  justify-items: stretch;
  min-width: 500px;
}

/* OPEX sections colors*/
.headers          { --deptColor: #000; }
.creamers         { --deptColor: #f1e4d5; }
.ga               { --deptColor: #4982CF; }
.hr               { --deptColor: #1C4072; }
.it               { --deptColor: #1B3456; }
.legal            { --deptColor: #02A747; }
.finance          { --deptColor: #2D8E5B; }
.regulatory       { --deptColor: #015B00; }
.medicalaffairs   { --deptColor: #007575; }
.quality          { --deptColor: #2B7B90; }
.sales            { --deptColor: #8B2F2E; }
.customersupport  { --deptColor: #D58B89; }
.supplychain      { --deptColor: #8C3E08; }
.marketing        { --deptColor: #6D2625; }
.techservices     { --deptColor: #757575; }



/* Media queries */

@media screen and (max-width: 64.56250em) and (min-width: 733px) {
  body { 
    font-size: 19px;
  }
  .container-pl {
    min-width: 600px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media screen and (min-width: 64.56250em) {
  body { 
    font-size: 16px;
  }
  .container-pl {
    min-width: 330px;
  }
  .container {
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(2em, auto);
    margin: 0.5em auto;
  }
  .title-pl {
    font-size: 1.1em;
  }
  .dept-opex-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .container-opex {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 1fr;
    justify-items: stretch;
  }
}