
/* General and Header */

@font-face {
  font-family: "CstBerlinWest";
  src: url("CSS/fonts/CstBerlinWestOT.otf");
}
@font-face {
  font-family: "CstBerlinWestBold";
  src: url("CSS/fonts/CstBerlinWestOT-Bold.otf");
}
@font-face {
  font-family: "Calibri";
  src: url("CSS/fonts/calibri.ttf");
}
@font-face {
  font-family: "CalibriB";
  src: url("CSS/fonts/calibrib.ttf");
}

body {
  font-family: "CalibriB";
  text-align: center;
  vertical-align: middle;
  color: black;
  border: 1px solid #2D8E5B;
  padding: 10px;
  max-width: 1600px;
}
.header {
  font-family: "CstBerlinWest";
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  min-height: 30px;
  min-width: 330px;
  color: white;
  background-color: #2D8E5B;
}
.ctrd {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  justify-self: stretch;
}


/* P&L sections */

.container-pl {
  background-color: white;
  min-width: 330px;
  border: 2px solid black;
  margin: 0.1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1fr;
  grid-auto-rows: minmax(30px, auto);
}
.header-pl {
  min-height: 40px;
  color: white;
  font-size: 1.44444em;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
}
.title-pl {
  color: #2F5687;
  grid-column-start: 1;
  grid-column-end: 2;
}
.item-pl {
  font-size: 0.83333em;
  border-bottom: 1px solid #2F5687;
}
.percentage-pl {
  color: #02A747;
  font-size: 1.55555em;
  vertical-align: bottom;
  grid-column-start: 4;
}
.sales-rows {
  grid-row-start: 2;
  grid-row-end: 4;
}
.cost-rows {
  grid-row-start: 4;
  grid-row-end: 6;
}
.opex-rows {
  grid-row-start: 6;
  grid-row-end: 8;
}
/* P&L sections colors */
.bg-lightblue { background-color: #2F5687;} 
.bg-midblue   { background-color: #1C4072;}
.bg-darkblue  { background-color: #203857;}
.orange       { color: #DE600D;}
.red          { color: #FF0000;}
.greyed       { color: #757575; border-bottom: none;}
.reduced      { font-size: 0.83333em; text-align: center; }


/* OPEX sections */

.title-opex {
  background-color: var(--deptColor);
  color: white;
}
.costcenter-opex {
  font-family: "Calibri";
  font-size: 0.8em;
  color: var(--deptColor);
}
.amount-opex {
  font-size: 1.1em;
  color: var(--deptColor);
}
.percentage-opex {
  font-family: "Calibri";
  color: var(--deptColor);
}
.dept-opex-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}
.container-opex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(13, 20px);
  justify-items: stretch;
}
/* OPEX sections colors*/
.ga               { --deptColor: #4982CF;}
.hr               { --deptColor: #1C4072; }
.it               { --deptColor: #1B3456; }
.legal            { --deptColor: #02A747;}
.finance          { --deptColor: #2D8E5B; }
.regulatory       { --deptColor: #015B00; }
.medicalaffairs   { --deptColor: #007575; }
.quality          { --deptColor: #2B7B90; }
.sales            { --deptColor: #8B2F2E; }
.customersupport  { --deptColor: #D58B89; }
.supplychain      { --deptColor: #8C3E08; }
.marketing        { --deptColor: #6D2625; }
.techservices     { --deptColor: #757575; }


@media screen and (max-width: 64.56250em) and (min-width: 733px) {
  .header {
    font-size: 3em;
    min-width: 500px;
  }
  .container-pl {
    min-width: 650px;
  }
  .container {
    font-size: 20px;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .dept-opex-container {
    min-width: 650px;
  }
}
@media screen and (min-width: 64.56250em) {
  .header {
    font-size: 3em;
    min-width: 500px;
  }
  .container {
    font-size: 18px;
    max-width: 1600px;
    margin: 0.5em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(2em, auto);
  }
  .dept-opex-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .container-opex {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    justify-items: stretch;
  }
}

/*

background: #f1e4d5;

*/